async-lru
autopep8
pyaes
pyasn1
pycodestyle
git+https://github.com/pyrogram/pyrogram@master
PySocks
rsa
TgCrypto
requests
requests-futures
loguru
schedule
arrow
python-dotenv
emoji
argparse
pymongo
pytz
r7insight-python
urlextract
uuid
redis
dnspython
Pillow
aiofiles
aiohttp
asyncio
pytgcalls==3.0.0.dev19
git+https://github.com/pytube/pytube
cachetools
async-cache
